/*the box*/
* {
	box-sizing: border-box;
}

/* the body*/
body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(90deg, #000000, #1d1d1d, #2c2c2c, #1d1d1d, #000000);
    background-size: 400% 400%;
    animation: animation 4s infinite;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*scroll hidden*/
body::-webkit-scrollbar {
    display: none;
}

/*Animation*/
@keyframes animation{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

/*The head*/
.header{
    width: 1400px;
    height: 120px;
    min-width: 500px;
    background-color: rgb(90, 90, 90);
    margin: auto;
    margin-top: 25px;
    border-radius: 10px 10px 0px 0px;
    border-style: solid solid none solid;
    border-color: white;
    border-width: 2px;
}

/*name of page*/
.name{
    padding-left: 40px;
    padding-top: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    letter-spacing: 0.8px;
    word-spacing: -0.8px;
    color: #000000;
    font-weight: 700;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
}

/*logo*/
.die{
    float: right;
    margin-right: 15px;
    margin-top: -85px;
    background-color: rgb(90, 90 ,90);
    box-shadow: none;
    border: none;
}

.dice{
    width: 180px;
    height: 100px;
    
}

/*Menu bar*/
.bar{
    width: 1400px;
    height: 80px;
    background-color: rgb(39, 39, 39);
    margin: auto;
    border-style: none solid none solid;
    border-color: white;
    border-width: 2px;
}

/*menu*/
.menu{
    width: 860px;
    height: 80px;
    background-color: rgb(80, 78, 90);
    margin: auto;
    border-style: none solid none solid;
    border-color: white;
    border-width: 2px;
}

/*box to project page*/
.pagina{
    width: 290px;
    height: 80px;
    background-color: rgb(27, 27, 27);
    margin: auto;
    float: left;
    border-radius: 25px;
}

/*box to home page*/
.home{
    width: 256px;
    height: 80px;
    float: left;
    margin-left: 10px;
    background-color: rgb(48, 48, 48);
    border-radius: 30px;
}

/*box to contact page*/
.pagina2{
    width: 290px;
    height: 80px;
    background-color: rgb(27, 27, 27);
    float: right;
    border-radius: 25px;
}

/*home logo image*/
.home a img{
    width: 150px;
    height: 100px;
    margin-top: -10px;
    margin-left: 50px;
}

/*The text of the menu*/
.menutext{
    margin-left: 30%;
    margin-top: 10%;
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-variant: small-caps;
    font-size: 20px;
}

/*the text of the menu links*/
.menutext a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*box for information*/
.content{
    background-color: rgb(209, 209, 209);
    margin: auto;
    width: 1400px;
    height: 1240px;
    border-style: none solid solid solid;
    border-color: white;
    border-width: 2px;
    border-radius: 0px 0px 10px 10px;
}

/*title used in content*/
.big{
    padding-left: 40px;
    padding-top: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    letter-spacing: 0.8px;
    word-spacing: -0.8px;
    color: #000000;
    font-weight: 700;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
}

/*Text used in content*/
.small{
    padding-left: 40px;
    padding-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
    word-spacing: -0.8px;
    color: #000000;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
}

/*position of codes*/
.codes{
    margin-top: 170px;
}

/*html code*/
.html{
    margin-left: 90px;
    margin-top: 16px;
    width: 400px;
    height: 800px;
    float: left;
    overflow-y: scroll;
}

/*js code*/
.js{
    width: 400px;
    height: 800px;
    float: left;
    margin-top: -27px;
    margin-left: 20px;
    overflow-y: scroll;
}

/*css code*/
.css{
    width: 400px;
    height: 800px;
    float: left;
    margin-top: -86px;
    margin-left: 20px;
}

/*html scroll bar gone for other search engine*/
.html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*html scroll bar gone*/
.html::-webkit-scrollbar {
    display: none;
}

/*css scroll bar gone*/
.css::-webkit-scrollbar {
    display: none;
}

/*css scroll bar gone for other search engine*/
.css {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*js scroll bar gone*/
.js::-webkit-scrollbar {
    display: none;
}

/*js scroll bar gone for other search engine*/
.js {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*position and appearance od button*/
.form{
    width: 290px;
    height: 80px;
    background-color: rgb(27, 27, 27);
    margin: auto;
    float: left;
    border-radius: 25px;
    margin-left: 560px;
    margin-top: 50px;
}

/*text in button*/
.formbutton{
    margin-left: 40%;
    margin-top: 10%;
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-variant: small-caps;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}